# Mac files
.DS_Store

# Dependency directories
node_modules/

# lerna files
/lerna-debug.log

# Env files
.env
.env-development
.env-production

# next.js build output
.next

# Theme
# /gatsby-theme-heydays
# Local Netlify folder
.netlify
